/* General settings to the entire page. */

body {
    background-color: #053061;
    font-family: Trebuchet MS, sans-serif;
}

p {
    word-break: break-all;
}

/* ----------------------------------------------------------------------------------------------------------------- */
/* Specific settings to header and navigator area. */
header {
    color: whitesmoke;
}

/* Settings to the navigator font. */
#navigator div {
    margin: 10px;
    display: flex;
    align-items: center;
}

/* Settings to the navigator button. */
.nav-button {
    padding: 5px;
    font-size: 18px;
    color: whitesmoke;
    font-weight: bold;
    align-items: center;
    border: #053061 2px solid;
    background-color: #053061;
    font-family: "Charmonman", sans-serif;
}

/* Settings to the navigator button hover effect. */
.nav-button:hover {
    border-radius: 10px;
    border: #fb8072 2px solid;
}

/* Settings to the header background image. */
#header-image {
    height: 650px;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("../image/header.jpg");
}

/* Settings to the font awesome image. */
.font-awesome {
    margin: 0 10px;
    color: whitesmoke;
}

.font-awesome:hover {
    color: #5bc0de;
}

/* ----------------------------------------------------------------------------------------------------------------- */
.main-content {
    padding: 50px 0;
    background-color: whitesmoke;
}

.special-content {
    padding: 60px 0;
    background-color: #d1e5f0
}

.content-title {
    margin: 0;
    color: #053061;
    font-size: 40px;
    font-weight: bold;
    font-family: "Charmonman", sans-serif;
}

.content-subtitle {
    color: #053061;
    margin: 10px 0;
    font-size: 18px;
    font-family: monospace;

}

.no-padding-col {
    padding: 0 !important;
    margin: 0 !important;
}

.skills {
    align-items: center;
}

.skilled-portion {
    margin: 0;
    border: 2px #333333 solid;
}

.non-skilled-portion {
    margin: 0;
    border: 1px #333333 solid;
}

.font-awesome-project {
    color: #053061;
}

.font-awesome-project:hover {
    color: #5bc0de;
}

#back-to-top:hover {
    color: #fb8072;
    cursor: pointer;
}

#footer {
    color: whitesmoke;
    font-style: italic;
    font-size: 12px;
    font-family: monospace;
}